.expenseForm{
    display: flex;
}

.expenseForm__info{
    display: flex;
    flex-direction: column;
    width: auto;
    margin: $m-size auto;
    align-items: center;
    background-color: lighten($dark-purple,10%);
    padding: $m-size;
    border-radius: $xs-size;
}


.expenseForm__info__input{
    background-color: $light-purple;
    border: none;
    padding: $m-size;
    margin: 0 0 $s-size 0;
    width: 90%;
}

.expenseForm__info__input::placeholder{
    color: $dark-blue;
}

.expenseForm__info__note{
    background-color: $light-purple;
    color: $dark-blue;
    border: none;
    padding: $m-size;
    margin: 0 $s-size $s-size $s-size;
    width: 90%;
}

.expenseForm__info__note::placeholder{
    color: $dark-blue;
}