.expenseItem{
    display: flex;
    justify-content: space-between;
    background-color: $light-purple;
    width: 80%;
    max-width: $xl-width*2;
    overflow-wrap: break-word;
    border-radius: $s-size;
    margin-bottom: $m-size;
    color: darken($dark-purple,10%);
}

.expenseItem__info{
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    min-width: 0;
}

.expenseItem__info__desc{
    margin: $xs-size;
}

.expenseItem__info__amount{
    margin: $xs-size;
}

.expenseItem__info__date{
    margin: $xs-size;
}

.expenseItem__info__note{
    margin: $xs-size;
}

.expenseItem__edit{
    margin: $xs-size;
    text-decoration: none;
    color: $dark-blue;
    font-weight: bold;
    padding: $xs-size;
    background-color: $light-blue;
    border-radius: $s-size;
    border-bottom: $u-size solid darken($light-blue,15%);
    border-right: $u-size solid darken($light-blue,15%);
    align-self: flex-end;
}

.expenseItem__edit:active{
    color: $light-blue;
    background-color: darken($light-blue,10%);
    border-bottom: 0;
    border-right: 0;
}

@media (max-width: $desktop-breakpoint) {
    .expenseItem{
        width: 95%;
    }
    .expenseItem__desc{
        font-size: $m-size;
    }
}