.ExpenseDashboardPage__title{
    color: $light-purple;
    font-size: $l-size;
    margin-bottom: $m-size;
    text-align: center;
}
.ExpenseDashboardPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
}