.header__title {
    color: $light-purple;
    text-align: center;
    font-size: $xl-size;
}

.header__navigation {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: $m-size;
}

.header__navigation__item {
    text-decoration: none;
    font-style: italic;
    font-size: $m-size;
    color: darken($light-blue,10%);
    padding-left: $m-size;
}