// Colors
/*
$off-black: #20222b;
$off-white: #a6afd7;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$purple: #8357c5;
*/

$dark-blue: #1A237E;
$light-blue: #C5CAE9;

$dark-purple: #311B92;
$light-purple: #CE93D8;

//spacing
$u-size: 0.4rem;
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.125rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45em;
$s-width: 10rem;
$m-width: 15rem;
$l-width: 20rem;
$xl-width: 40rem;